section{
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: fixed; 
    background: red;
}
.container{
    width: auto;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.block{
    width: auto;
    height: auto;
    background: #fff;
    padding: 30px;
}