<section>
  <app-search-panel></app-search-panel>
  <div class="contacts">
    <h2>Chats</h2>
    <div class="listContacts">


      <div class="person">
        <div class="avatar">
          <img src="img/avatar1.png" alt="avatar">
          <i class="far fa-check-circle status"></i>
        </div>
        <div class="info">
          <h3>Alice Freeman</h3>
          <span class="message">You are the worst!</span>
        </div>
        <div class="date"><span>Jun 12, 2017</span></div>
      </div>


      <div class="person">
        <div class="avatar">
          <img src="img/avatar1.png" alt="avatar">
          <i class="far fa-check-circle status"></i>
        </div>
        <div class="info">
          <h3>Alice Freeman</h3>
          <span class="message">You are the worst!</span>
        </div>
        <div class="date"><span>Jun 12, 2017</span></div>
      </div>


      <div class="person">
        <div class="avatar">
          <img src="img/avatar1.png" alt="avatar">
          <i class="far fa-check-circle status"></i>
        </div>
        <div class="info">
          <h3>Alice Freeman</h3>
          <span class="message">You are the worst!</span>
        </div>
        <div class="date"><span>Jun 12, 2017</span></div>
      </div>


      <div class="person">
        <div class="avatar">
          <img src="img/avatar1.png" alt="avatar">
          <i class="far fa-check-circle status"></i>
        </div>
        <div class="info">
          <h3>Alice Freeman</h3>
          <span class="message">You are the worst!</span>
        </div>
        <div class="date"><span>Jun 12, 2017</span></div>
      </div>


    </div>
  </div>
</section>