section{
    height: 100%;
    border-left: 1px solid #dedede;
}
h2{
    margin: 27px 10px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #5ca4be;
}
.listContacts{
    width: 100%;
    overflow: auto;
    max-height: 356px;
}
.listContacts .person{
    height: auto;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 10px;
    border-bottom: 1px solid #dedede;
}

.listContacts .person .avatar img{
    width: 48px;
    height: 48px;
}
@media (min-width: 750px) and (max-width: 847px) {.listContacts .person .avatar{
	margin-right: 5px;
	}}
 .avatar .status{
    font-size: 20px;
    position: relative;
    font-weight: 600;
    margin-left: -18px;
    top: -2px;
}
.online{color: green;}
.offline{color: red;}
.listContacts .person .info{
    width: auto;
    margin: 0 12px;
}
@media (min-width: 750px) and (max-width: 847px) {.listContacts .person .info{
	margin: 0;
	}}
.listContacts .person .info, h3{
    color: #8d8d8d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.listContacts .person .info, .message{
    color: #acacac;
}
.listContacts .person .date{
     flex: auto;
     align-self: flex-start;
     text-align: right;
}
.listContacts .person .date span{
    color: #676767;
    position: relative;
    font-size: 12px;
    top: 7px;
}
.active, .active .info h3, .active .info .message, .active .date span{
    background: #3C4252;
    color: #fff!important;
}