.container{
    width: 55%;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.leftPanel{
    width: 35%;
    height: auto;
}
.rightPanel{
    width: 65%;
    height: auto;
}
