<section class="mainContant">
  <app-main-top></app-main-top>
  <div class="contant">
    <div class="message his">
      <div class="flexContainer">
        <img src="assets/img/avatar1.png" class="avatar" alt="avatar">
        <p class="text">Quickly come to the meeting room 1B, we have a big server issue</p>
      </div>
      <span class="dateTime">
        <span class="date">4/22/17 , </span>
        <span class="time"> 4:00AM</span>
      </span>
    </div>

    <div class="message my">
      <div class="flexContainer">
        <p class="text">I`m having breakfast right now, can`t you wait for 10 minutes?</p>
      </div>
      <span class="dateTime">
        <span class="date">4/22/17 , </span>
        <span class="time"> 4:05AM</span>
      </span>
    </div>

    <div class="message his">
      <div class="flexContainer">
        <img src="assets/img/avatar1.png" class="avatar" alt="avatar">
        <p class="text">We are losing money! Quick!</p>
      </div>
      <span class="dateTime">
        <span class="date">4/22/17 , </span>
        <span class="time"> 4:10AM</span>
      </span>
    </div>

  </div>
  <app-main-bottom></app-main-bottom>
</section>