.mainContant{
    height: 100%;
    border: 1px solid #dedede;
    border-top: none;
    display: flex;
    flex-direction: column;
}

.contant{
    width: 100%;
    height: auto;
    max-height: 380px;
    flex: auto;
    overflow: auto;
}
.contant::-webkit-scrollbar{width: 5px; height: 5px;}
.contant::-webkit-scrollbar-button {  background-color: #e0e0e0; }
.contant::-webkit-scrollbar-track {  background-color: #e0e0e0;}
.contant::-webkit-scrollbar-thumb { height: 50px; background-color: #3c4252; border-radius: 3px;}
.message{
    width: 75%;
    padding: 6px 0;
}
.his{float: left;}
.my{float: right; text-align: right; padding-right: 10px;}
.his .flexContainer{display: flex; align-items: center;}
.my .flexContainer{display: flex; justify-content: flex-end; align-items: center;}
.his .flexContainer .avatar{
    width: 48px;
    height: 48px;
    margin: 14px 10px;
}
.his .flexContainer .text{
    background: #3c4252;
    color: #fff;
}
.message .flexContainer{
    margin-bottom: 10px;
}
.message .flexContainer .text{
    padding: 13px 30px;
    border-radius: 60px;
}
.my .flexContainer .text{background: #e0e0e0; text-align: right; margin: 14px 0;}
.message .dateTime{
    position: relative;
    margin-left: 80px;
    font-size: 15px;
    color: #c1c1c1;
    top: -5px;
}