.mainBottom{
    background: #f5f5f5;    
    border-top: 2px solid #e1e1e1;
    padding: 18px;
    display: flex;
    justify-content: center;
}
.mainBottom textarea{
    flex: auto;
    resize: none;
    padding: 10px 15px;
    font-size: 16px;
    padding-top: 25px;
    border-radius: 30px;
    border: 2px solid #e1e1e1;
}
.mainBottom .far{
    font-size: 30px;
    color: #797979;
    position: relative;
    top: 25px;
    z-index: 100;
    left: -50px;
}
.mainBottom .far::before{cursor: pointer;}
