/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    transition: all .4s ease;
}
div:hover{
    transition: all .4s ease;
}
ul{
    list-style: none;   
}
textarea:focus, input:focus{
    outline: none;
}