
<section>
    <div class="container">
        <div class="block">
            <h2>Login using: </h2>
            <div class="social-panel">
                <a class="social-btn gmail" (click)="signInWithGoogle()">Gmail</a>
                <span>OR</span>
                <a class="social-btn fb" (click)="signInWithFB()">Facebook</a>
            </div>
            <div class="back">
                <a class="social-btn back-btn" 
                   routerLink="">&#8592; Go to chat</a>
            </div>
        </div>
    </div>
</section>

